
import("methods")

import("biglm")

importFrom("digest",
	"digest")

importFrom("irlba",
	"irlba")

importFrom("Matrix",
	"nnzero")

importFrom("stats",
	"median",
	"update",
	"na.omit")

import("BiocParallel")

import("BiocGenerics")

import("ProtGenerics")

importFrom("utils",
	"head",
	"tail",
	"object.size")

exportClasses(
	"drle",
	"drle_fct",
	"matter",
	"matter_arr",
	"matter_mat",
	"matter_vec",
	"matter_list",
	"matter_str",
	"matter_fct",
	"sparse_arr",
	"sparse_mat",
	"sparse_vec")

export(
	"drle",
	"is.drle")

export(
	"read_atom",
	"write_atom",
	"read_atoms",
	"write_atoms")

export(
	"is.matter",
	"matter_arr",
	"matter_mat",
	"matter_vec",
	"matter_fct",
	"matter_list",
	"matter_str",
	"sparse_vec",
	"sparse_mat",
	"is.sparse",
	"as.sparse")

exportMethods(
	"as.altrep",
	"as.vector",
	"as.matrix",
	"as.array",
	"as.list",
	"as.factor",
	"as.data.frame")

exportMethods(
	"adata",
	"atomdata",
	"atomdata<-",
	"type",
	"type<-",
	"path",
	"path<-",
	"readonly",
	"readonly<-",
	"chunksize",
	"chunksize<-")

exportMethods(
	"aindex",
	"atomindex",
	"atomindex<-",
	"pointers",
	"pointers<-",
	"domain",
	"domain<-",
	"tolerance",
	"tolerance<-",
	"sampler",
	"sampler<-",
	"keys",
	"keys<-",
	"nnzero")

exportMethods(
	"paths",
	"paths<-",
	"datamode",
	"datamode<-",
	"filemode",
	"filemode<-",
	"combiner",
	"combiner<-")

exportMethods("checksum")

exportMethods(
	"describe_for_display",
	"preview_for_display")

exportMethods(
	"%*%",
	"[",
	"[<-",
	"$",
	"$<-",
	"c",
	"combine",
	"cbind2",
	"rbind2",
	"lengths",
	"length",
	"dims",
	"dim",
	"dim<-",
	"names",
	"names<-",
	"dimnames",
	"dimnames<-",
	"levels",
	"levels<-",
	"Encoding",
	"Encoding<-",
	"t",
	"crossprod",
	"tcrossprod")

exportMethods(
	"Arith",
	"Compare",
	"Logic")

exportMethods(
	"range",
	"min",
	"max",
	"prod",
	"sum",
	"mean",
	"var",
	"sd",
	"any",
	"all",
	"rowSums",
	"rowMeans",
	"colSums",
	"colMeans")

exportMethods(
	"rowVars",
	"rowSds",
	"colVars",
	"colSds")

export(
	"s_range",
	"s_min",
	"s_max",
	"s_prod",
	"s_sum",
	"s_mean",
	"s_var",
	"s_sd",
	"s_any",
	"s_all",
	"s_nnzero",
	"stat_c")

export(
	"colstreamStats",
	"rowstreamStats")

S3method("c", "stream_stat")
S3method("print", "stream_stat")
S3method("nobs", "stream_stat")
S3method("[", "stream_stat")
S3method("[[", "stream_stat")

S3method("stat_c", "stream_range")
S3method("stat_c", "stream_min")
S3method("stat_c", "stream_max")
S3method("stat_c", "stream_prod")
S3method("stat_c", "stream_sum")
S3method("stat_c", "stream_mean")
S3method("stat_c", "stream_var")
S3method("stat_c", "stream_sd")
S3method("stat_c", "stream_any")
S3method("stat_c", "stream_all")
S3method("stat_c", "stream_nnzero")

exportMethods(
	"rowsweep",
	"colsweep",
	"rowscale",
	"colscale",
	"rowStats",
	"colStats")

export(
	"chunk_apply",
	"chunk_mapply")

export(
	"atoms",
	"atoms")

export(
	"uuid",
	"hex2raw",
	"raw2hex")

S3method("print", "size_bytes")
S3method("format", "size_bytes")

export(
	"sizeof",
	"vm_used")

export("locmax")

exportMethods(
	"apply",
	"lapply",
	"sapply")

exportMethods("scale")

exportMethods(
	"biglm",
	"bigglm")

exportMethods("prcomp")

export(
	"reldiff",
	"asearch",
	"bsearch")

export(
	"mem",
	"profmem")

useDynLib("matter", .registration=TRUE, .fixes="C_")
